     <footer>
        <p>&copy; Upartner 2012</p>
      </footer>


    </div> 
    <!-- /container -->



    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/script/jquery.js"></script>
    <script src="/script/bootstrap-transition.js"></script>
    <script src="/script/bootstrap-alert.js"></script>
    <script src="/script/bootstrap-modal.js"></script>
    <script src="/script/bootstrap-dropdown.js"></script>
    <script src="/script/bootstrap-scrollspy.js"></script>
    <script src="/script/bootstrap-tab.js"></script>
    <script src="/script/bootstrap-tooltip.js"></script>
    <script src="/script/bootstrap-popover.js"></script>
    <script src="/script/bootstrap-button.js"></script>
    <script src="/script/bootstrap-collapse.js"></script>
    <script src="/script/bootstrap-carousel.js"></script>
    <script src="/script/bootstrap-typeahead.js"></script>

  </body>
</html>
