
    <% include header %>

    <div class="container">

    <% if (about) { %>
        <h2><%= about %></h2>
    <% } %>

    <!-- Main hero unit for a primary marketing message or call to action -->
    <form class="form-search">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
    </form>
      
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Search</h2>
          <p></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span6">
          <h2>image</h2>
          <p></p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
    
    <hr>

    <!-- talk処理 -->
    <form method="POST" action="/">
        <p>
            <input name="talkarea" type="text" size="70" />
            <input name="" type="submit" value="talk" />
        </p>
        <p><textarea cols="70" rows="15" name="textarea" ><%= textarea2 %></textarea></p>
    </form>

    <!-- ユーザ一覧表示 -->
    <form method="POST" action="/userList">
            <input name="" type="submit" value="ユーザ一覧" class="btn" />
    </form>




    <hr>

    <% include footer %>
 